# Packages used for model APIs and Apps
Flask
Flask-Compress
Flask-Cors
jsonify
# Extra packages
Automat
Babel
Bottleneck
Cython
Pillow
PyWavelets
PyYAML
QtAwesome
QtPy
SQLAlchemy
SecretStorage
Sphinx
Twisted
Werkzeug
XlsxWriter
alabaster
appdirs
astroid
astropy
atomicwrites
backports.shutil-get-terminal-size
beautifulsoup4
bitarray
bkcharts
blaze
bokeh
boto
bson
cairocffi
click
cloudpickle
clyent
colorama
constantly
contextlib2
cycler
cytoolz
dask
datashape
distributed
docutils
et-xmlfile
fastcache
filelock
gevent
ggplot
glob2
gmpy2
greenlet
h5py
heapdict
html5lib
hyperlink
imageio
imagesize
incremental
isort
itsdangerous
jaydebeapi
jdcal
jeepney
jpype1
keras
keyring
kiwisolver
lazy-object-proxy
llvmlite
locket
lxml
matplotlib
mccabe
mpltools
mpmath
msgpack
multipledispatch
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
odo
olefile
openpyxl
packaging
pandas
partd
path.py
pathlib2
patsy
pep8
pkginfo
pluggy
ply
psutil
py
pyasn1
pyasn1-modules
pycodestyle
pycrypto
pycurl
pyflakes
pylint
#pyodbc
pypandoc
pyparsing
pytest
pytest-arraydiff
pytest-astropy
pytest-doctestplus
pytest-openfiles
pytest-remotedata
pytz
rope
scikit-image
scikit-learn
scipy
seaborn
service-identity
simplegeneric
singledispatch
snowballstemmer
sortedcollections
sortedcontainers
sphinxcontrib-websupport
spyder
spyder-kernels
statsmodels
sympy
tables
tblib
#tensorflow-gpu
toolz
unicodecsv
websocket
wrapt
xlrd
xlwt
zict
zope.interface